{% extends "core/base.html" %}
{% load static %}
{% block content %}

    
        
            <div style="margin-top: 5rem;">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6 single-list-view" >
                        <div class="col-xs-12 col-md-4" style="margin-top: 3rem;">
                            <div class="list-img">
                                <div class="product-img">
                                    <img src="{{user.image.url}}" alt="User image" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8" >
                            <div class="list-text" style="padding-left: 15rem;">
                                <p>Username: {{user.username}}</p>
                                <p>First name: {{user.first_name}}</p>
                                <p>Last name: {{user.last_name}}</p>
                                <p>Email: {{user.email}}</p>
                                <p>Phone number: {{user.phone_number}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
            </div>
    
    

{%endblock%}
